*,html,body{
    margin:0;
    padding:0;
}
#container{
    width: 100vw;
    height: 100vh;
}
#nav{
    width:100vw;
    background-color: #F294AD;
}
#logo{
    height: 200px;
    width:150px;
    padding-left:4em;
    padding-top:3em;
    margin:0;
}
ul li{
    display: inline-block;
    padding-bottom:2em;
}
#nav li a{
    text-decoration: none;
    color:white;
    padding:2em;
    font-family: 'Lobster', cursive;
    font-size: 1.85em;
}
#first{
    padding-left:90em;
}
h1{
    color:#F294AD;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;

}
footer{
    background-color: #F294AD;
    height: 10em;
    width: 100vw;
}
div#footerMain ul li{
    padding:0.2em;
    font-family: 'Lobster', cursive;
    font-size: 1.85em;
    color:white;
    padding-top: 2em;

}
#firstFooter{
    padding-left:5em;
}