*,html,body{
    margin:0;
    padding:0;
}
#container{
    width: 100vw;
    height: 100vh;
}
#nav{
    width:100vw;
    background-color: #F294AD;
}
#logo{
    height: 200px;
    width:150px;
    padding-left:4em;
    padding-top:3em;
    margin:0;
}
ul li{
    display: inline-block;
    padding-bottom:2em;
}
#nav li a{
    text-decoration: none;
    color:white;
    padding:2em;
    font-family: 'Lobster', cursive;
    font-size: 1.85em;
}
#first{
    padding-left:90em;
}
h1{
    color:#F294AD;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;

}
footer{
    background-color: #F294AD;
    height: 10em;
    width: 100vw;
}
div#footerMain ul li{
    padding:0.2em;
    font-family: 'Lobster', cursive;
    font-size: 1.85em;
    color:white;
    padding-top: 2em;

}
#firstFooter{
    padding-left:5em;
}
img{
    vertical-align: middle;
}
#slideshowBox{
    max-width: 1000px;
    position:relative;
    margin: auto;
}
.slideshow1{
    display: none;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding:16px;
    color: white;
    font-weight:bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.dot{
    height:15px;
    width:15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.next{
    right:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background: rgba(0, 0, 0, 0.8);
}
.text{
    color:#f2f2f2;
    font-size: 15px;
    padding: 8px 12 px;
    position: absolute;
    bottom: 8px;
    width:100%;
    text-align:center;
}
.active{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity:.4}
    to{opacity:1}
}
@media only screen and (max-width:300px){
    .text{font-size:11px}
}