* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/*home page*/
/*Body container*/
#container {
    height: 100vh;
    background: white;
    padding: 0;
    margin: 0;
}

/*logo resize*/
#logo {
    height: 200px;
    width: 260px;

}

/*header zith nav*/
header {
    background-color: #F294AD;
    box-shadow: 4px 4px rgb(113, 113, 113);
}

/*slide box*/
.box1 {
    border: 10px double #F294AD;
    padding: 3em;

}

/*slide text*/
.carousel-caption h5 {
    text-shadow: 3px 3px rgb(113, 113, 113);
    font-size: 3em;
    font-family: 'Lobster', cursive;

}

/*navigation link*/
.nav-link {

    font-family: 'Lobster', cursive;
    font-size: 2em;
    padding: 1em;
    text-decoration: none;
    padding-top: 4em;
    color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5rem;
}

a:hover {
    color: rgb(255, 205, 205);
}

.nav-link a {
    color: white;
}

main {
    margin: 2em 0;
}

/*item star*/
.box2 {
    margin-top: 2em;
    border: 10px double #F294AD;

}

.row {
    margin: 2em;
}

div.row h2 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: #F294AD;
    text-shadow: 2px 2px rgb(113, 113, 113);
  

}

div.row p {
    font-family: 'Lobster', cursive;
    font-size: 1.6em;
    color: #F294AD;


}

.card {
    margin: 3em 0;
}

.c-D {
    display: flex;
    justify-content: center;
}

.modal-body img {
    height: 25em;
    width: 25em;
    text-align: center;
    padding: 2em;
    padding-left: 5em;
}

.modal-body {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    color: #F294AD;
    padding: 2em;
}

button.btn.btn-primary {
    background-color: #F294AD;
    height: 4em;
    width: 9em;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px rgb(113, 113, 113);
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(0, 90, 90, 0.5)
}

main#box3 {
    margin-top: 2em;
    border: 10px double #F294AD;
    width: 60vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3em;

}

#box3 img {
    height: 390px;
    width: 300px;
    margin-left: 6em;
    margin-bottom: 2em;
    box-shadow: 3px 3px rgb(113, 113, 113);
}

.media {
    text-align: center;
}

#box3 h1 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: #F294AD;
    margin: 0.5em 0;
    text-align: center;
    text-shadow: 2px 2px rgb(113, 113, 113);
}

.media h2 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #F294AD;
    margin-top: 2em;
    text-shadow: 2px 2px rgb(113, 113, 113);

}

.media h3 {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #F294AD;
    margin-top: 1.7em;
    text-shadow: 2px 2px rgb(113, 113, 113);

}

.media a {
    color: #F294AD;
    text-decoration: underline;
    text-shadow: 2px 2px rgb(113, 113, 113);

}

/*Location*/
main#box4 {
    margin-top: 2em;
    border: 10px double #F294AD;
    width: 60vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3em;

}

.location img {
    width: 20vw;
    height: 20vh;
    margin: 2em 4em;
}

.descrip p {
    font-family: 'Lobster', cursive;
    font-size: 1.9em;
    color: #F294AD;
    margin-left: 6em;
    margin-right: 6em;
    text-shadow: 2px 2px rgb(113, 113, 113);
    text-align: center;
}

/*footer*/
footer {
    height: 150px;
    width: 100vw;
    background-color: #F294AD;
}

footer ul {
    text-align: center;
}

footer ul li {
    padding-top: 2em;
    display: inline-block;
    font-size: 2em;
    color: white;
}

footer ul li a {
    color: white;
    font-family: 'Lobster', cursive;
}

/*products*/
.productBox{
    margin:3em;
}
#starProducts1{
    margin-left:7em;
    
  }

#starProducts1 h1 {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    color: #F294AD;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
}

  .list2 {
    float: left;
    border: 3px solid #F294AD;
    background-image: linear-gradient(to right, rgb(255, 235, 242) , rgb(255, 255, 255));
    width: 30%;
    height: 900px;
  }
  
  .list2 button {
    display: block;
    background-color: inherit;
    color: #F294AD;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    padding-top:1.5em;
    padding-bottom: 1.5em;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(113, 113, 113);

  }
  
  .list2 button:hover {
    background-color: rgb(221, 207, 218);
  }
  
  .list2 button.active {
    background-color: rgb(238, 217, 217);
  }
  
  .prodcontent {
    float: left;
    padding: 0px 12px;
    border: 3px solid #F294AD;
    width: 60%;
    border-left: none;
    height: 900px;
    display: none;
    padding-left:7em;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .footerProducts {
    margin-top: 30em;
  }
  
  .productPics {
    width: 9vw;
    height: 26vh;
    align-content: center;
    padding: 2em;
    padding-bottom: 6px;
  
  }
  
  .starProductPic {
    margin-left: 30em;
    font-family: 'Roboto', sans-serif;
    border: 9px double #F294AD;
    border-radius: 12px;
    width: 70vw;
    padding: 2em;
    text-align: center;
    align-content: center;
    align-items: center;
  
  }
  
  .coffeCakePic {
    margin-left: 10em;
  }
  
  button.buttonDetails {
    width: 8em;
    height: 2em;
    background-color: #F294AD;
    color: white;
    margin-left: 15em;
    border-radius: 6px;
    font-size: 20px;
  }
  
  .followingButton {
    margin-left: 11.5em;
  }
  
  div.imgContain h1 {
    padding-bottom: 3px;
    padding-top: 20px;
    font-size: 50px;
  }
  
  div.imgContain p {
    font-size: 37px;
  }
  
  /*popup button*/
  
  .imgContain {
    text-align: center;
    margin: 40px 0 12 px 0;
    position: relative;
  
  }
  
  .ingredients {
    font-size: 2em;
    padding-top: 4px;
    margin-top: 0;
    color: #F294AD;
  }
  
  .cakecoffee {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
  }
  
  
  .boxButton {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .boxContent {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
    height: 70%;
    padding-bottom: 30px;
  }
  
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  
  .animate {
    animation: zoom 0.6s
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
  
    to {
      transform: scale(1)
    }
  }
  


/*timeline*/
#timeline {
    display: flex;
    background-color: white;
}

#timeline:hover .event1 {
    width: 15%;
}

.event1 {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 900px;
    color: #F294AD;
    overflow: hidden;
    transition: width 0.5s ease;
}

.event1:before,
.event1:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.event1:after {
    background: rgba(90, 89, 89, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.event1:before {
    background: linear-gradient(to bottom, rgba(255, 179, 217, 0) 0%, rgba(0, 0, 0, 1) 85%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.event1:hover {
    width: 30% !important;
}

.event1:hover:after {
    opacity: 0;
}

.event1:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.event1:hover .textInformation {
    opacity: 1;
    transform: translateY(0);
    transition: all O.75s ease 0.5s;
}

.event1:hover .event1-bg {
    filter: grayscale(0);
}

.textInformation {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0.1618em;
    top: 55%;
    opacity: 0;
}

.textInformation h1 {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    color: #F294AD;
    font-size: 2.5em;
    font-weight: normal;

}

.textInformation p {
    color: #F294AD;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: normal;
}

.year {
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;

}

.year p {
    font-size: 3em;
    line-height: 0;
    font-family: 'Lobster', cursive;
}

.event1-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

/*newsletter*/

.box8{
    border: 10px double #F294AD;
width:60vw;
margin :2em;
align-items: center;
justify-content: center;
margin: auto;
margin-bottom: 3em;
margin-top:3em;
}
.box8 h2{
    font-family: 'Lobster', cursive;
    color: #F294AD;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px rgb(113, 113, 113);

}
.box8 figcaption{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 2em;
    text-align: center;
    background-color: #F294AD;
    text-shadow: 2px 2px rgb(113, 113, 113);

}
.subscribe{
    color: #F294AD;
    padding:1em;
    text-shadow: 2px 2px rgb(113, 113, 113);
 
}
.subscribeback{
    border: 10px double #F294AD;
  height:13vw;
}
.paragraph2{
    padding-bottom:1em;
    padding-top:1em;
    
}
div.row h2{
    font-size:2em;
}
.item1{
    justify-content: center;
}
/*Contact form*/
div.box7 {
    border: 10px double #F294AD;
    width: 70vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 4em;
    margin-top: 4em;
    padding:3em;
}

form label {
    font-family: 'Lobster', cursive;
    color: #F294AD;
    font-size: 1.9em;
    text-align: center;
}
form h2 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #F294AD;
    text-shadow: 2px 2px rgb(113, 113, 113);

}
.form-control{
    height:4em;
    
}
#exampleFormControlTextarea1
{
    height:10em;
}
form button{
    font-size: 3em;

}